body {
    margin: 50px 0 0 0;
    font-family: "Noto Sans", "Helvetica Neue", 'sans-serif';
    background: #f9f9f9;
    color: #333333;

    display: flex;
    justify-content: center;
}

p {
    font-size: 24px;
    margin-bottom: 34px;
}

h1 {
    font-weight: bold;
    font-size: 45px;
    padding: 20px;
    padding-top: 0px;
    margin-top: 0px;
}

.text-center {
    text-align: center;
    width: 975px;
    padding: 20px;
    margins: auto;
}

.header {
    position: relative;
    bottom: 45px;
}

#img-here {
}

#actual-img {
    display: block;
    margin: auto;
}



.wifi {
    padding: 20px;
    padding-bottom: 0px;
    position: relative;
    top: 0px;
}

.wifi, .wifi:before {
        display: inline-block;
        border: 50px double transparent;
        border-top-color: currentColor;
        border-radius: 50%;
}

.wifi:before {
        content: '';
        width: 0; height: 0;
}
